body {
    margin: 0%;
}

.structure-base {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.structure-align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    padding: 30px;
    background-color: #001d3d;
    border: 3px solid #ffc300;
    box-shadow: 25px 25px #ffc300;
}

.structure-align div {
    width: 100%;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure-align img {
    width: 50%;
}

.title-login {
    margin-bottom: 50px;
    text-align: center;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 200%;
    color: white;
}

.form-input {
    outline: none;
    display: block;
    width: 90%;
    margin-inline: auto;
    margin-block: 2%;
    padding: 15px;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 90%;
    color: #ffc300;
    background-color: #000814;
    border: 3px solid #ffc300;
    transition: all ease 0.3s;
}

.div-form p {
    margin-left: 8%;
    font-family: "Press Start 2P", Arial, sans-serif;
}

.div-form a {
    text-decoration: none;
    font-family: 'MS Reference Sans Serif', Arial, sans-serif;
    color: #097eef;
}

.div-form a:hover {
    text-decoration: underline;
}

.btn-login {
    z-index: 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    margin-inline: auto;
    margin-block-start: 15%;
    margin-block-end: 5%;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-family: "Press Start 2P", Arial, sans-serif;
    font-size: 130%;
    color: #ffc300;
    background-color: rgba(0, 119, 255, 0);
    border: none;
}

.btn-login:hover {
    cursor: pointer;
    color: #001d3d;
    background-color: #ffc300;
}

.btn-login:active {
    outline: 0;
}

.btn-login:focus {
    outline: 0;
}

/* Alliens */
.allien-yellow {
    width: 70px;
    position: relative;
    top: 370px;
    right: 270px;
    animation-name: movimentationAllienYellow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.allien-red {
    width: 100px;
    position: relative;
    top: 100px;
    left: 100px;
    animation-name: movimentationAllienRed;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.void {
    width: 100px;
    position: relative;
    top: 200px;
    left: 20px;
    animation-name: movimentationAllienYellow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Animations */
@keyframes movimentationAllienYellow {
    0% { top: 370px; }
    50% { top: 380px; }
    100% { top: 370px; }
}

@keyframes movimentationAllienRed {
    0% { top: -100px; }
    50% { top: -75px; }
    100% { top: -100px; }
}

.hide {
    display: none;
}

.success {
    position: fixed;
    left: 25px;
    bottom: 15px;
    min-width: 250px;
    margin: auto;
    padding: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: #fff;
    background-color: rgb(79, 167, 44);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.erro {
    position: fixed;
    left: 25px;
    bottom: 15px;
    min-width: 200px;
    margin: auto;
    padding: 16px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: #fff;
    background-color: rgb(206, 63, 63);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {
        bottom: 0; opacity: 0;
    } 
    to {
        bottom: 15px; opacity: 1;
    }
}
  
@keyframes fadein {
    from {
        bottom: 0; opacity: 0;
    }
    to {
        bottom: 15px; opacity: 1;
    }
}